<form [formGroup]="entryForm">
  <mat-form-field appearance="fill">
    <mat-label>Kim</mat-label>
    <input matInput readonly formControlName="washer" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Qachon</mat-label>
    <input matInput readonly formControlName="date" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nomer</mat-label>
    <input matInput formControlName="plateNumber" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Model</mat-label>
    <input matInput formControlName="model" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Rang</mat-label>
    <input matInput formControlName="color" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Kuzov turi</mat-label>
    <mat-select formControlName="carBodyType">
      <mat-option value="small">A-B-C tur kuzov (Matiz, Nexia, Cobolt)</mat-option>
      <mat-option value="medium">D-E-F tur kuzov (Malibu, Camry)</mat-option>
      <mat-option value="large">Krosover miniven (Captiva, Jeep)</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Xizmat turi</mat-label>
    <mat-select formControlName="serviceType">
      <mat-option value="full">Polniy moyka</mat-option>
      <mat-option value="bodyOnly">Kuzov moyka</mat-option>
      <mat-option value="dry">Artish, vosk, quritish</mat-option>
      <mat-option value="salon">Salon tozalash</mat-option>
      <mat-option value="karcher">Karcher</mat-option>
      <mat-option value="chemical">Ximchistka</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Narx</mat-label>
    <input matInput readonly formControlName="price" />
  </mat-form-field>

  <div class="div tugmalar">
    <button type="button" mat-raised-button color="primary" (click)="save()">Qo'shish</button>
    <button type="button" mat-raised-button color="warn">Bekor qilish</button>
  </div>
</form>
