<form>
  <mat-form-field appearance="fill">
    <mat-label>Kim</mat-label>
    <input matInput readonly value="Alish" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Qachon</mat-label>
    <input matInput readonly value="03.08.2022" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nomer</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Model</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Kategoriya</mat-label>
    <mat-select>
      <mat-option value="volvo">Sedan (40000)</mat-option>
      <mat-option value="saab">Hechbek (50000)</mat-option>
      <mat-option value="mercedes">Pikap (70000)</mat-option>
      <mat-option value="audi">Limuzin (100000)</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Xizmat turi</mat-label>
    <mat-select>
      <mat-option value="volvo">Karcher (10000)</mat-option>
      <mat-option value="saab">Polniy (50000)</mat-option>
      <mat-option value="mercedes">Ximchistka (500000)</mat-option>
      <mat-option value="audi">Polirovka (200000)</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Rang</mat-label>
    <input matInput />
  </mat-form-field>

  <div class="div">
    <button mat-button>Qo'shish</button>
    <button mat-button>Bekor qilish</button>
  </div>
</form>
