<form>
  <mat-form-field appearance="fill">
    <mat-label>Kim</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Qachon</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nomer</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Model</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Kategoriya</mat-label>
    <mat-select>
      <mat-option value="volvo">Sedan (40000)</mat-option>
      <mat-option value="saab">Hechbek (50000)</mat-option>
      <mat-option value="mercedes">Pikap (70000)</mat-option>
      <mat-option value="audi">Limuzin (100000)</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Xizmat turi</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Rang</mat-label>
    <input matInput />
  </mat-form-field>

  <div class="div"><button>Qo'shish</button><button>Bekor qilish</button></div>
</form>
